<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">client list</div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Serial Number</th>
                  <th>Company Name</th>
                  <th>Person Name</th>
                  <th>Contact Number</th>
                  <th>City</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @for (client of clientList; track $index) {
                <tr>
                  <td>{{ $index + 1 }}</td>
                  <td>{{ client.companyName }}</td>
                  <td>{{ client.contactPersonName }}</td>
                  <td>{{ client.contactNo }}</td>
                  <td>{{ client.city }}</td>
                  <td>
                    <button class="btn btn-primary" (click)="onEdit(client)">
                      Edit</button
                    ><button
                      class="btn btn-danger"
                      (click)="onDelete(client.clientId)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">new client</div>
      <div class="card-body">
        <form #form="ngForm">
          <div class="row">
            <div class="col-6">
              <label for="">Person Name</label>
              <input
                name="contactPersonName"
                #personName="ngModel"
                required
                minlength="2"
                [(ngModel)]="clientObj.contactPersonName"
                type="text"
                class="form-control"
              />
              @if(personName.touched){
              <div class="text-danger">
                @if(personName?.errors?.['required']){
                <span>This is required</span>
                } @if(personName?.errors?.['minlength']){
                <span>must be 2 or more charaters</span>
                }
              </div>
              }
            </div>
            <div class="col-6">
              <label for="">Company Name</label>
              <input
                name="companyName"
                [(ngModel)]="clientObj.companyName"
                type="text"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="">Contact Number</label>
              <input
                name="contactNo"
                [(ngModel)]="clientObj.contactNo"
                type="text"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="">City</label>
              <input
                name="city"
                [(ngModel)]="clientObj.city"
                type="text"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="">State</label>
              <input
                name="state"
                [(ngModel)]="clientObj.state"
                type="text"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="">Pincode</label>
              <input
                name="pincode"
                [(ngModel)]="clientObj.pincode"
                type="text"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="">Address</label>
              <textarea
                name="address"
                [(ngModel)]="clientObj.address"
                class="form-control"
              ></textarea>
            </div>
            <div class="col-6">
              <label for="">Employee Strenght</label>
              <input
                name="employeeStrength"
                [(ngModel)]="clientObj.employeeStrength"
                type="text"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="">Gst Number</label>
              <input
                name="gstNo"
                [(ngModel)]="clientObj.gstNo"
                type="text"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="">Reg Number</label>
              <input
                name="regNo"
                [(ngModel)]="clientObj.regNo"
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6 text-center">
              <button class="btn btn-secondary">Reset</button>
            </div>
            <div class="col-6 text-center">
              <button
                [disabled]="!form.valid"
                (click)="onSaveClient()"
                class="btn btn-success"
              >
                {{ clientObj.clientId != 0 ? "Update Client" : "Save Client" }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
